@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
        @if (Context.Session.GetString("bIsLoggedIn") == "1")
        {
            @Html.Label(" - " + Context.Session.GetString("sUsername"))
        }
    </h1>

    @if (Context.Session.GetString("bIsLoggedIn") != "1")
    {
        <p>Please login to manage contact details.</p>
    }
</div>
