@model ContantMgmt.Models.Contact

@{
    ViewData["Title"] = "Add Contact";
}

<h1>Add New Contact</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="contactName" class="control-label"></label>
                <input asp-for="contactName" class="form-control" />
                <span asp-validation-for="contactName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="contactNo" class="control-label"></label>
                <input asp-for="contactNo" class="form-control" maxlength="9" />
                <span asp-validation-for="contactNo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="contactEmail" class="control-label"></label>
                <input asp-for="contactEmail" class="form-control" type="email" />
                <span asp-validation-for="contactEmail" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" style="float:right;">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
